PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=lms_db
NODE_ENV=development
SYNC_INDEXES=true
FIREBASE_SERVICE_ACCOUNT_JSON=
# or use: FIREBASE_SERVICE_ACCOUNT_PATH=/absolute/path/to/firebase-service-account.json
FIREBASE_ADMIN_EMAILS=admin1@example.com,admin2@example.com
